<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

  <!-- Read the properties file -->
  <context:property-placeholder location="classpath:application.properties" />

  <!-- Define your beans here -->

  <bean id="baseballCoach" class="com.vvezani.springdemo.coach.BaseballCoach">
    <constructor-arg ref="happyFortuneService"></constructor-arg>
  </bean>

  <bean id="optimisticBaseballCoach" class="com.vvezani.springdemo.coach.BaseballCoach">
    <constructor-arg ref="randomFortuneService"></constructor-arg>
  </bean>

  <bean id="footballCoach" class="com.vvezani.springdemo.coach.FootballCoach">
    <property name="fortuneService" ref="happyFortuneService"></property>
  </bean>

  <bean id="volleyCoach" class="com.vvezani.springdemo.coach.VolleyCoach">
    <property name="name" value="Vitor Rodrigo Vezani"></property>
    <property name="email" value="vitor.vezani@gmail.com"></property>
  </bean>

  <bean id="propertieVolleyCoach" class="com.vvezani.springdemo.coach.VolleyCoach">
    <property name="name" value="${coach.name}"></property>
    <property name="email" value="${coach.email}"></property>
  </bean>

  <bean id="happyFortuneService" class="com.vvezani.springdemo.fortune.HappyFortuneService"></bean>

  <bean id="randomFortuneService" class="com.vvezani.springdemo.fortune.RandomFortuneService"></bean>

</beans>
